$active-link: #FF5762;
$text: #222B55;
$header-nav: #7B829A;
$background: #FFFFFF;
$text-action: #415DE8; 
$bgInfo: #F5F8FF;
$bgMain: #E5E5E5;
$borderInfo: #758EF0;
$line: #EBECF0;
$green: rgb(5, 132, 5);