$active-link: #ff5762;
$text: #222b55;
$header-nav: #7b829a;
$background: #ffffff;
$text-action: #415de8;
$bgInfo: #f5f8ff;
$bgMain: #e5e5e5;
$borderInfo: #758ef0;
$line: #ebecf0;
$green: rgb(5, 132, 5);
