@import 'styles/color.scss';
@import 'styles/font-size';
@import 'styles/mixins';

.nav {
  height: 420px;
  width: 300px;
  padding: 30px 30px 30px 0px;
  background: $background;
  box-shadow: 0px 1px 3px rgba(34, 43, 85, 0.03),
    0px 8px 12px rgba(52, 53, 70, 0.02);
  border-radius: 16px;
  margin-left: 20px;
  position: relative;
  margin-top: 20px;

  @include media-breakpoint-only(sm) {
    height: 420px;
    width: 300px;
  }
}

.ul {
  list-style: none;
  font-size: $font-size12;
  color: $header-nav;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Metropolis', sans-serif;

  &:last-of-type {
    margin-top: 28px;
  }

  .li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    line-height: 40px;
    font-size: $font-size16;
  }

  .link {
    text-decoration: none;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $text;
  }

  .link_active {
    text-decoration: none;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: $text;
  }
}

.link_active + .line {
  background-color: $active-link;
  width: 5px;
  height: 40px;
  position: absolute;
  left: 0;
}
