@import 'styles/color.scss';
@import 'styles/font-size';
@import 'styles/mixins';

.nav {
  height: 420px;
  width: 300px;
  padding: 30px 30px 30px 0px;
  background: $background;
  box-shadow: 0px 1px 3px rgba(34, 43, 85, 0.03),
    0px 8px 12px rgba(52, 53, 70, 0.02);
  border-radius: 16px;
  margin-left: 20px;
  position: relative;
  margin-top: 20px;

  @include media-breakpoint-only(sm) {
    height: 420px;
    width: 300px;
  }
}

.ul {
  @include ulLink();

  .li {
    @include liLink();
  }

  .link {
    @include link();
  }

  .link_active {
    @include link_active();
  }
}

.link_active + .line {
  @include line();
}
