@import 'styles/color.scss';
@import 'styles/font-size';

.wrapper {
  display: flex;
  background-color: $background;
  flex-direction: column;
  padding: 40px 60px;
  border-radius: 16px;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0px 1px 3px rgba(34, 43, 85, 0.03),
    0px 8px 12px rgba(52, 53, 70, 0.02);

  p {
    margin: 0;
    color: $text;
    font-family: 'Metropolis', sans-serif;
    font-weight: 700;
    font-size: $font-size36;
    line-height: 150%;
  }
}
