body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color:transparent;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
}
